.contenedor{
        overflow-y: auto;
}

.box {
    display: flex;
  }

  .flex {
    flex: 0 1 250px;
    padding: 0.5rem;
  }

  .flex2 {
    flex: 0 1 500px;
    padding: 0.5rem;
  }

  .anchoFijo{
    width: 2rem;
  }

  .alinear{
    padding-top: 1.5rem;
  }
  .alinearMas{
    padding-top: 2rem;
  }