// .sidebar {
//     width: 240px;
//     background-color: #f8f9fa;
//     transition: width 0.3s;
//     height: -webkit-fill-available;
//   }
  
  .sidebar.open {
    width: 70px;
  }
  
  .toggle-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    padding: 10px;
  }
  
  .sidebar-menu li a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .sidebar-menu li a i {
    margin-right: 10px;
  }
  

  .sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    background-color: var(--logifruit-menus)
  }